#contact_body {
  background-color: var(--back_color);
  overflow: hidden;
}

.contact {
  width: 70% !important;
  margin:auto;
}

h1 {
  margin-bottom: 6vh !important
}

#contact_body .middle ul {
  margin-left: 16px;
}

#contact_body .middle a {
  color: var(--text_color);
  text-decoration: underline;
}

.middle {
  font-size: 1.2em;
  position: absolute;
  top: 30vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.blob_1 {
  top: -30px;
  left: -40px;
  width: 60vh;
  height: 40vh;
  background: pink;
  position: absolute;
  border-radius: 37% 63% 73% 23% / 81% 76% 24% 19%;
}

.blob_2 {
  bottom: -100px;
  right: -80px;
  position: absolute;
  width: 80vh;
  height: 60vh;
  background: red;
  border-radius: 49% 51% 49% 51% / 36% 27% 73% 64% ;
}

.blob {
  animation: blob 10s ease-in-out infinite;
}

@keyframes blob {
  0% {
    transform: scale(1) translate(0);
  }
  60% {
    transform: scale(1.5,1.5) translate(1.2vw,3vh) rotate(210deg);
  }
  100% {
    transform: scale(1) translate(0) rotate(1turn);
  }
}

@media screen and (max-width: 995px)
{
    /* Rédigez vos propriétés CSS ici */
    .middle {
      position: relative !important;
      margin-top: 80px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-bottom: 300px;
    }
}

@media screen and (max-width: 450px)
{
    /* Rédigez vos propriétés CSS ici */
    .middle {
      position: relative !important;
      margin-top: 80px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-bottom: 300px;
    }
}

@media screen and (max-width: 995px)
{
  body, html {
    overflow-x: hidden !important;
  }
  body {
    overflow-y: hidden !important;
    position: relative;
  }
}

@media screen and (max-width: 450px)
{
  body, html {
    overflow-x: hidden !important;
  }
  body {
    overflow-y: hidden !important;
    position: relative;
  }
}
