#formation_body {
  background-color: var(--back_color);
  overflow-x: hidden !important;
}


/* formation - timeline*/

#formation {
  margin-top: 120px;
  padding-bottom: 80px;
  width: 80%;
  margin: auto;
}

#formation h1 {
  margin-bottom: 80px;
}

#formation h3 {
  color: yellow !important
}

#formation ul {
  list-style: disc;
  margin-left: 8px
}

#formation .card {
  border: none;
  margin-top: 14px;
  background: transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='9' stroke-dasharray='700%2c 300' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 12px;
}

.formation-img {
  background: white;
  width: 120px;
  height:120px;
  box-shadow: 0.5rem 0.5rem orange, -0.5rem -0.5rem #ccc;
}

.formation-item {
  margin: 12px;
  padding: 12px;
}

hr {
  border-color: white !important;

}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
	animation-iteration-count: 1;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px !important;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Begin shimmer code*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  @media screen and (max-width: 995px)
  {
    body, html {
      overflow-x: hidden !important;
    }
    body {
      overflow-y: hidden !important;
    }
    #formation {
      width: 95% !important;
      margin: auto;
      margin-top: 200px;
      margin-bottom: 300px;

    }
  }

  @media screen and (max-width: 450px)
  {
    body, html {
      overflow-x: hidden !important;
    }
    body {
      overflow-y: hidden !important;
    }
    #formation {
      width: 95% !important;
      margin: auto;
      margin-top: 200px;
      margin-bottom: 300px;
    }
  }
