#project_body {
  background-color: var(--back_color);
  overflow-x: hidden !important;
}

.projet h1{
  margin-top: 15px;
  margin-bottom: 80px;
}
.carousel-control-next,
.carousel-indicators,
.carousel-control-prev /*, .carousel-indicators */ {
  fill: orange
}


.carousel-indicators li {
  width: 35px !important;
  height: 8px !important;
}

.carousel-indicators {
  top: 327px
}

.carousel-indicators:hover {
  cursor: pointer;
}

.blob_3 {
  top: 900px;
  left: -20px;
  position: absolute;
  width: 60vh;
  height: 40vh;
  background: orange;
  border-radius: 49% 51% 49% 51% / 36% 27% 73% 64% ;
}

.blob_5 {
  top: 1800px;
  left: -20px;
  position: absolute;
  width: 100vh;
  height: 60vh;
  background: green;
  border-radius: 49% 51% 49% 51% / 36% 27% 73% 64% ;
}

.blob_4 {
  bottom: -1100px;
  right: -80px;
  position: absolute;
  width: 80vh;
  height: 60vh;
  background: blue;
  border-radius: 49% 51% 49% 51% / 36% 27% 73% 64% ;
}

.projet {
  padding-top: .5rem !important;
  margin-top: 120px;
  margin-top: 15vh;
  margin: auto;
  width: 80% !important
}

.projet_item {
  background: transparent;
  border: none;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='9' stroke-dasharray='700%2c 300' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.projet_item:hover {

}

.projet_item img:hover {

}

.projet h2 {
  margin-bottom: 12px !important;
}

.projet_item {
  padding: 32px !important;
}

.projet_item img {
  object-fit: contain !important;
  height: 300px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.projet_item a {
  text-decoration: underline;
  color: var(--text_color);
}

.projet_item a:hover {
  color: var(--text_color);
}

.projet_item ul {
  margin-left: 8px;
}

.container1 {
  margin-bottom: 4vh
}

.container2 {
  margin-bottom: 4vh
}

.stage_quote {
  color: yellow !important;
}

.stage_quote::before {
  content: "#stage" !important
}

.projet1 img {
  object-fit: fill !important;
  min-height: 300px;
  width: 100%;
}

.scroll{
    color:#fff;
    margin-top:100px;
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255, 255, 255) 0px 0px 0px 3px !important;
}

.js .cd-top--fade-out {
    opacity: .5;
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s,visibility .3s,background-color .3s;
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0,0,0,.05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5,76%,62%,.8);
    background-color: hsla(var(--cd-color-3-h),var(--cd-color-3-s),var(--cd-color-3-l),0.8);
}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
	animation-iteration-count: 1;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


 @media screen and (max-width: 995px)
 {
   body, html {
     overflow-x: hidden !important;
   }
   body {
     overflow-y: hidden !important;
   }
   .projet {
     width: 95% !important;
     margin: auto;
     margin-top: 200px;
     margin-bottom: 300px;
   }
 }

 @media screen and (max-width: 450px)
 {
   body, html {
     overflow-x: hidden !important;
   }
   body {
     overflow-y: hidden !important;
   }
   .projet {
     width: 95% !important;
     margin: auto;
     margin-top: 200px;
     margin-bottom: 300px;
   }
 }
