html, body {
    margin: 0; padding: 0; /* enlever l'espacement de base */
    font-family: 'Poppins', sans-serif; /* police de caractère Google Fonts */
    height: 100vh;
    scroll-behavior: smooth;
  }

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
